In [12]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/testdiabete/diabete.csv

In [13]:
#verinin dosya yolunu ekleme
import pandas as pd
diabete=pd.read_csv("../input/testdiabete/diabete.csv")

In [14]:
#verinin ilk 5 satırını görüntüleme
diabete.head()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [15]:
import csv

header = ["notp", "pga", "dip","tsft","2hoursi","bmi","def","age","Class"]

with open('../input/testdiabete/diabete.csv', 'r') as fp:
    reader = csv.DictReader(fp, fieldnames=header)


    with open('diabete.csv', 'w', newline='') as fh: 
        writer = csv.DictWriter(fh, fieldnames=reader.fieldnames)
        writer.writeheader()
        header_mapping = next(reader)
        writer.writerows(reader)

1. notp: Hamile sayısı
2. pga: Oral glukoz tolerans testinde 2 saat plazma glikoz konsantrasyonu
3. dip: Diyastolik kan basıncı (mm Hg)
4. tsft: Triceps deri kıvrım kalınlığı (mm)
5. 2hoursi: 2 saatlik serum insülini (mu U / ml)
6. bmi: Vücut kitle indeksi (kg olarak ağırlık / (m olarak yükseklik) ^ 2)
7. def: Diyabet soyağacı fonksiyonu
8. age: Yaş
9. Class: Sınıf değişkeni

In [16]:
diabete=pd.read_csv("diabete.csv")
diabete.head()

   notp  pga  dip  tsft  2hoursi   bmi    def  age  Class
0     6  148   72    35        0  33.6  0.627   50      1
1     1   85   66    29        0  26.6  0.351   31      0
2     8  183   64     0        0  23.3  0.672   32      1
3     1   89   66    23       94  28.1  0.167   21      0
4     0  137   40    35      168  43.1  2.288   33      1

In [17]:
print(diabete.shape)

(768, 9)

In [18]:
diabete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   notp     768 non-null    int64
 1   pga      768 non-null    int64
 2   dip      768 non-null    int64
 3   tsft     768 non-null    int64
 4   2hoursi  768 non-null    int64
 5   bmi      768 non-null    float64
 6   def      768 non-null    float64
 7   age      768 non-null    int64
 8   Class    768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [19]:
diabete.describe()

,notp,pga,dip,tsft,2hoursi,bmi,def,age,Class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [20]:
print(diabete["age"].describe)

<bound method NDFrame.describe of 0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: age, Length: 768, dtype: int64>

In [22]:
diabete["notp"].value_counts()

1     135
0     111
2     103
3      75
4      68
5      57
6      50
7      45
8      38
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: notp, dtype: int64

In [21]:
diabete.sort_values(by='age', ascending=False).head(10)

     notp  pga  dip  tsft  2hoursi   bmi    def  age  Class
459     9  134   74    33       60  25.9  0.460   81      0
453     2  119    0     0        0  19.6  0.832   72      0
666     4  145   82    18        0  32.5  0.235   70      1
123     5  132   80     0        0  26.8  0.186   69      0
684     5  136   82     0        0   0.0  0.640   69      0
674     8   91   82     0        0  35.6  0.587   68      0
363     4  146   78     0        0  38.5  0.520   67      1
489     8  194   80     0        0  26.1  0.551   67      0
537     0   57   60     0        0  21.7  0.735   67      0
495     6  166   74     0        0  26.6  0.304   66      0